<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../css/video.css" />

    <script
      src="https://kit.fontawesome.com/afb23c7fce.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <navbar>
      <div class="nav">
        <a href="/">
          <img src="../../img/loom.png" class="loomLogo" />
        </a>
        <div class="iconNavi">
          <i class="fas fa-search"></i>
          <i class="far fa-bell"></i>
          <a href="/logout">
            <button class="logOutBtn">Log out</button>
          </a>
        </div>
      </div>
    </navbar>
    <div class="fullContainer">
      <div class="firstFullContainer">
        <div class="firstContainer">
          <h3>libraries</h3>
          <div class="threeContainer">
            <i class="fas fa-user"></i>
            <h2>Personal</h2>
          </div>

          <div class="threeContainer">
            <i class="fas fa-user-friends"></i>
            <h2>Shared with Me</h2>
          </div>
          <div class="threeContainer">
            <i class="fas fa-users"></i>
            <h2>Personal</h2>
          </div>
        </div>
      </div>

      <section>
        
      </section>
    </div>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/afb23c7fce.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="../../css/setting.css" />
    <title>Document</title>
  </head>
  <body>
    <navbar>
      <div class="nav">
        <a href="/">
          <img src="img/loom.png" class="loomLogo" />
        </a>
        <div class="iconNavi">
          <i class="fas fa-search"></i>
          <i class="far fa-bell"></i>
          <a href="/logout">
            <button class="logOutBtn">Log out</button>
          </a>
        </div>
      </div>
    </navbar>
    <div class="fullContainer">
      <div class="firstFullContainer">
        <div class="firstContainer">
          <h3>libraries</h3>
          <div class="threeContainer">
            <a href="/home">
              <i class="fas fa-user"></i>
              <h2>Personal</h2>
            </a>
          </div>
          <div class="threeContainer">
            <a href="/me">
              <i class="fas fa-user-friends"></i>
              <h2>Shared with Me</h2>
            </a>
          </div>
          <div class="threeContainer">
            <a href="/team">
              <i class="fas fa-users"></i>
              <h2>Team</h2>
            </a>
          </div>
          <div class="threeContainer">
            <a href="/settings">
              <i class="fas fa-cog"></i>
              <h2>Settings</h2>
            </a>
          </div>
        </div>
      </div>
      <section>
        <div class="setting">
          <div class="heading">
            <h2><%=user.username%></h2>
            <h1 style="text-align: center">Video Details</h1>
          </div>
          <!-- <div class="navigationLink">
            <a href="#" class="selectedLink">My Account</a>
            <a href="#" class="notSelected">Notifications</a>
            <a href="#" class="notSelected">Integrations</a>
          </div> -->
          <div
            class="videoContainer"
            style="
              display: flex;
              flex-direction: column;
              justify-content: center;
            "
          >
            <!-- <video src= type="video/mp4"></video> -->
            <div style="text-align: center">
              <video width="1020" height="640" controls>
                <source src="<%=video.url%>" type="video/mp4" />
              </video>
            </div>

            <p style="margin-top: 5rem">
              <span style="font-weight: 900; color: #525aa4">Video Name:</span>
              <%=video.fileName%>
            </p>
            <p style="margin-top: 5rem">
              <span style="font-weight: 900; color: #525aa4"
                >Team Members:</span
              >
            </p>
            <%if(video.teamMembers){var members=video.teamMembers.split(',')%>
            <%for(i of members){%>
            <ul style="margin: 1rem">
              <li><%=i%></li>
            </ul>
            <%}}else{%>
            <p><%=video.teamMembers%></p>
            <%}%>
            <p style="margin-top: 5rem">
              <span style="font-weight: 900; color: #525aa4"
                >Meeting Notes:</span
              >
              <%=video.meetingNotes%>
            </p>
            <p style="margin-top: 5rem">
              <span style="font-weight: 900; color: #525aa4">Status:</span>
              <%=video.status%>
            </p>

            <!-- <button>Add Video</button> -->
          </div>
          <hr style="margin: 5rem 0" />
          <div class="nameAndPhoto">
            <form action="/<%=video.id%>/watch/changeFileName" method="POST">
              <label for="name">Change File Name: </label>
              <input
                type="text"
                name="name"
                id="name"
                style="margin-top: 2rem"
              />
              <div class="buttonsForName">
                <button type="submit" class="saveBtn">Change</button>
              </div>
            </form>
            <form action="/<%=video.id%>/watch/teamMembers/add" method="POST">
              <%if(video.userEmail==user.email){%>
              <label style="margin-top: 3rem" for="email"
                >Team Members Email:
              </label>
              <input
                style="margin-top: 2rem"
                type="email"
                name="teamMembers"
                id="email"
                value=""
              />
              <div class="buttonsForName">
                <button type="submit" class="saveBtn">Add</button>
              </div>
            </form>
            <%}%>
            <form action="/<%=video.id%>/watch/meetingNotes" method="POST">
              <label style="margin-top: 3rem" for="notes">Meeting Notes:</label>
              <textarea
                style="width: 500px; height: 200px; margin: 2rem 0"
                type="text"
                id="notes"
                name="meetingNotes"
              ></textarea>
              <div class="buttonsForName">
                <button class="saveBtn">Add notes</button>
              </div>
            </form>

            <h2 style="margin-top: 3rem">Public or Private</h2>
            <form action="/<%=video.id%>/watch/publicOrPrivate" method="POST">
              <div class="status">
                <div style="width: 100px">
                  <label style="font-size: 1rem" for="publicOrPrivate"
                    >Public :</label
                  ><br />
                  <label style="font-size: 1rem" for="publicOrPrivate"
                    >Private:</label
                  >
                </div>
                <div class="align">
                  <input
                    type="radio"
                    name="status"
                    id="publicOrPrivate"
                    required
                    value="private"
                  />
                  <input
                    type="radio"
                    name="status"
                    id="publicOrPrivate"
                    value="public"
                  />
                </div>
              </div>
              <div class="buttonsForName">
                <button class="saveBtn">Submit</button>
              </div>
            </form>

            <!-- <h3>
              Access your Loom Workspaces with any email address, or by
              connecting an account.
            </h3> -->
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
