
    <script
      src="https://kit.fontawesome.com/afb23c7fce.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="../../css/setting.css" />
    
  

  <body>
    <%let arr=[]; for(let i=0;i<uservideo.length;i++){%>
      <%arr.push(uservideo[i].teamMembers)%>
    <%}%>
  <% console.log("teammembers",arr);console.log("owner",userData.email);if((arr.includes(userData.email)) || (userData.user_id==user.id)){ %> 
      <section>
        <div class="setting">
          <div class="heading">
           
            <h1 style="text-align: center">Video Details</h1>
          </div>
          <!-- <div class="navigationLink">
            <a href="#" class="selectedLink">My Account</a>
            <a href="#" class="notSelected">Notifications</a>
            <a href="#" class="notSelected">Integrations</a>
          </div> -->
          <div
            class="videoContainer"
            style="
              display: flex;
              flex-direction: column;
              justify-content: center;
            "
          >
            <!-- <video src= type="video/mp4"></video> -->
            <div style="text-align: center">
              <video width="1020" height="640" controls>
                <source src="<%=video.url%>" type="video/mp4" />
              </video>
            </div>

            <p style="margin-top: 5rem">
              <span style="font-weight: 900; color: #525aa4">Video Name:</span>
              <%=video.fileName%>
            </p>
            <p style="margin-top: 5rem">
              <span style="font-weight: 900; color: #525aa4"
                >Team Members:</span
              >
            </p>
         <% if(arr){ %> 
            <ul style="margin: 1rem">
              <%for(let i of arr){%>
                <%if(i!=null){%>
              <li><%=i%></li>
                <%}}%>
            </ul>
           <%}%>
            <p style="margin-top: 5rem">
              <span style="font-weight: 900; color: #525aa4"
                >Meeting Notes:</span
              >
              <%=video.meetingNotes%>
            </p>
            <p style="margin-top: 5rem">
              <span style="font-weight: 900; color: #525aa4">Status:</span>
              <%=video.status%>
            </p>
          </div>
          <hr style="margin: 5rem 0" />
          <%if(userData.user_id==video.userId){%>
          <div class="nameAndPhoto">
            <form action="/<%=video.id%>/watch/changeFileName" method="POST">
              <label for="name">Change File Name: </label>
              <input
                type="text"
                name="name"
                id="name"
                style="margin-top: 2rem"
              />
              <div class="buttonsForName">
                <button type="submit" class="saveBtn">Change</button>
              </div>
            </form>
            <form action="/<%=video.id%>/watch/teamMembers/add" method="POST">
              <label style="margin-top: 3rem" for="email"
                >Team Members Email:
              </label>
              <input
                style="margin-top: 2rem"
                type="email"
                name="teamMembers"
                id="email"
                value=""
              />
              <div class="buttonsForName">
                <button type="submit" class="saveBtn">Add</button>
              </div>
            </form>

            <form action="/<%=video.id%>/watch/meetingNotes" method="POST">
              <label style="margin-top: 3rem" for="notes">Meeting Notes:</label>
              <textarea
                style="
                  width: 500px;
                  height: 200px;
                  margin: 2rem 0;
                  font-size: 1rem;
                  border-color: 2px solid hsla(240, 8%, 46%, 0.2);
                  border-radius: 2%;
                "
                type="text"
                id="notes"
                name="meetingNotes"
              ></textarea>
              <div class="buttonsForName">
                <button class="saveBtn">Add notes</button>
              </div>
            </form>

            <h2 style="margin-top: 3rem">Public or Private</h2>
            <form action="/<%=video.id%>/watch/publicOrPrivate" method="POST">
              <div class="status" style="display: flex">
                <div style="width: 100px">
                  <label style="font-size: 1rem" for="publicOrPrivate"
                    >Public :</label
                  ><br />
                  <label style="font-size: 1rem" for="publicOrPrivate"
                    >Private:</label
                  >
                </div>
                <div
                  class="align"
                  style="display: flex; flex-direction: column"
                >
                  <input
                    type="radio"
                    name="status"
                    id="publicOrPrivate"
                    required
                    value="public"
                  />
                  <input
                    type="radio"
                    name="status"
                    id="publicOrPrivate"
                    value="private"
                  />
                </div>
              </div>
              <div class="buttonsForName">
                <button class="saveBtn">Submit</button>
              </div>
            </form>
          </div>
          <%}}else {%>
          <h3 class="text-center" style="text-align: center;font-size:2rem;position: absolute;left:28%;top:50%">Not Authorised User. Please Request Permission From The Owner </h3>
          <%}%>
        </div>
      </section>
    </div>
    <script src="ckeditor/ckeditor.js"></script>
    <script>CKEDITOR.replace('meetingNotes')</script>
  </body>
</html>
